<div class="container" ng-controller="RoomsCtrl as rooms">
  <div class="row">
    <div class="col-md-4">

      <button class="btn btn-primary" ng-click="send()">
        <i class="glyphicon glyphicon-plus" type="button"></i> Create Room
      </button>

      <ul ng-if="rooms" class="list-group rooms-list">
        <li 
          ng-repeat="room in rooms" 
          ng-click="setCurrentRoom(room)"
          class="list-group-item"
          ng-class="isCurrent(room) ? 'current' : ''">
          {{room.name}}
        </li>
      </ul>
    </div>
    

    <div class="col-md-8" ng-show="hasCurrentRoom()">
      <ul ng-if="messages" class="messages">
        <li ng-repeat="msg in messages" class="message">
          <p class="username" ng-class="selfSent(msg) ? 'self' : ''">{{msg.user}}</p>
          <p class="text">{{msg.text}}</p>
          <p class="pull-right">
            
            {{ (msg.createdAt*1000) | date:'EEEE, h:mm a' }}
          </p>
          <div class="clearfix"></div>
        </li> 
      </ul>
      
      <div class="user-info">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> User Info
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete</a></li>
        </ul>
      </div>
    </div>

      <form ng-submit="sendMessage()">
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            ng-model="message"
            placeholder="Write Message"
            <button class="btn btn-primary" ng-click="submit()">
          <input class="btn btn-primary btn-lg" type="submit" value="Submit">
            </button>
          </input>  
        </div>    
      </form>
    </div>
  </div>
</div>