<div ng-controller="RoomsCtrl">
  <div class="row">
    <div class="col-md-3 sidebar">
      
    
        <h1 class="name">
          iBloc-Chat
        <button 
          class="btn btn-primary" 
          ng-click="create()">
          <i class="glyphicon glyphicon-plus" type="button"></i> Create Room
        </button>
        </h1>
      
      <div class="row">
        <ul ng-if="rooms" class="list-group rooms-list">
          <li 
            ng-repeat="room in rooms" 
            ng-click="setCurrentRoom(room)"
            class="list-group-item"
            ng-class="isCurrent(room) ? 'current' : ''">
            {{room.name}}
          </li>
        </ul>
      </div>

     <a class="btn btn-primary" href="#/edituser">
        <i class="glyphicon glyphicon-plus" type="button"></i> Edit User
      </a> 
    </div>
    

   <div class="col-md-offset-3 col-md-9 main-content" ng-show="hasCurrentRoom()">

      <div class="messages-container">
        <ul ng-if="messages" class="messages">
          <li ng-repeat="msg in messages" class="message">
            <p class="username" ng-class="selfSent(msg) ? 'self' : ''">{{msg.user}}</p>
            <p class="text">{{msg.text}}</p>
            <p class="pull-right">
              
              {{ (msg.createdAt*1000) | date:'EEEE, h:mm a' }}
            </p>
            <div class="clearfix"></div>
          </li> 
        </ul>
      </div>
      <form ng-submit="sendMessage()" class="message-input-form">
        <div class="col-md-12">
          <div class="input-group">
            
            <input 
              type="text" 
              class="form-control" 
              ng-model="message"
              placeholder="Write Message"/>
            <span class="input-group-btn">
              <button class="btn btn-success" type="button">Send</button>
            </span>
          </div> 
        </div>    
      </form>
    </div>
  </div>
</div>